<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>COVID-19	Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <span class="navbar-brand mb-0 h1">COVID-19 Dashboard</span>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">COVID-19 Cases</h1>

        <p class="lead">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus, now officially designated SARS-CoV-2.</p>

        <hr class="my-4">

        <p>Data provided by 2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE.</p>
        <a class="btn btn-primary btn-lg" href="https://github.com/CSSEGISandData/COVID-19/" role="button">Visit Data Repository</a>

        <hr class="my-3">

        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Global Cases</h5>
              <h6 class="card-subtitle mb-2 text-muted">Confirmed</h6>
              <p class="card-text">{{ global_data['confirmed'] }}</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Global Cases</h5>
              <h6 class="card-subtitle mb-2 text-muted">Recovered</h6>
              <p class="card-text">{{ global_data['recovered'] }}</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Global Cases</h5>
              <h6 class="card-subtitle mb-2 text-muted">Deaths</h6>
              <p class="card-text">{{ global_data['deaths'] }}</p>
            </div>
          </div>
        </div>

      </div>

      <h2 class="display-5">Cases by Country</h1>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Country</th>
            <th scope="col">Confirmed</th>
            <th scope="col">Recovered</th>
            <th scope="col">Deaths</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          {% for country, values in country_data.items() %}
            <th scope="row">{{ country }}</th>
            <td>{{ values['confirmed'] }}</td>
            <td>{{ values['recovered'] }} </td>
            <td>{{ values['deaths'] }}</td>
            <td>{{ values['last_updated'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
